<%= form_for(@question, :html => {:class => "questions-form well span10"}) do |f| %>
  <div class="row">
  		  		
		<div class="span7">
			<%= f.label :statement %>
			<%= f.text_area :statement, :class => "input-xlarge span7", :rows => 6 %>
		</div>
		
		<div class="span3">
			<br />
			<%= f.label :points, "Default Points" %>
			<%= f.text_field :points, :class => "span3", :placeholder => "Default number of points" %>
			
			<% if params[:action] == "new" %>
			<%= f.label :type %>
			<%= f.collection_select :type, Question::TYPES, :to_s, :humanize, :class => "span3", :prompt => "Please select a type" %>
			
			<div id="true-or-false-extra" class="hide">
				<label>Correct Answer</label>
				<%= select_tag "correct-answer", :class => "span3" %>
			</div>
			<% end %>
			
		</div>
  </div>
	
	<%= f.submit :class => "btn btn-primary pull-right" %>
<% end %>
