<%= form_for(@exam, :html => {:class => "well span6", :style => "margin-left: 0px;"}) do |f| %>
	
	<%= f.hidden_field :id, :value => @exam.id %>
	
	<div class="row">
	  <div class="span5">
	    <%= f.label :name %>
	    <%= f.text_field :name, :class => "span5" %>
	  </div>
	  
	  <div class="span1">
		  <%= f.label :attempts_allowed, "Attempts", :class => "span1", :style => "margin-left: 3px;" %>
		  <%= f.number_field :attempts_allowed, :class=> "span1" %>
	  </div>
    </div>
    
    <div class="row">
    	<div class="span3">
    	  <%= f.label :available_at, "Opens" %>
	      <div class="input-append date form-datetime">
	      	<% if f.object.available_at %>
	      		<%= f.text_field :available_at, :value => f.object.available_at.strftime("%d %b %Y - %H:%M") %>
	      	<% else %>
	      		<%= f.text_field :available_at %>
	      	<% end %>
		    <span class="add-on"><i class="icon-th"></i></span>
	      </div>
		</div>
		
		<div class="span3">
    	  <%= f.label :closes_at, "Closes" %>
	      <div class="input-append date form-datetime">
	      	<% if f.object.closes_at %>
	      		<%= f.text_field :closes_at, :value => f.object.closes_at.strftime("%d %b %Y - %H:%M") %>
	      	<% else %>
	      		<%= f.text_field :closes_at %>
	      	<% end %>
		    <span class="add-on"><i class="icon-th"></i></span>
	      </div>
		</div>
 	</div>
	
	<% if params[:action] != "new" %>
		<%= render :partial => "question_list", :locals => {:f => f} %>
	<% end %>
	
	<br />
	<div align="center">
	<%= f.submit :class => "btn btn-primary" %>
	</div>	

<% end %>
